<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>


    <%= f.input :title %>
    <%= f.input :text, class: "textbox" %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
